@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";
@import "icomoon";

$bg-color: white;
$border-color: #989898;
$text-color: #4f4f4f;
$secondy-text-color: #D9DADA;
$highlight-text-color: white;
$button-color: #6cdcac;



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    text-align: center;
}

hr {
    margin: 6em 0;
}

.underline {
    font-size: 2em;
    text-transform: uppercase;
    margin: 1em 0;

    &:after {
        display: block;
        content: "";
        /* although there is no content, this line is necessary. */
        background-color: $border-color;
        width: 3em;
        height: .1em;
        margin: 0 auto;
    }
}

.hero {
    max-width: 100em;
    margin: 0 auto;

    background: url('../images/indoor.jpg');
    background-size: cover;

    color: $highlight-text-color;

    header {
        img {
            display: none;
            width: 8em;
            height: 2em;
            float: left;
        }
        ul {
            float: right;

            li {
                float: left;
                margin: 0 .5em;
                padding: 1em;

                &:last-child {
                    border: 1px solid $highlight-text-color;
                }
            }
        }
        @include clearfix;
    }

    h1 {
        font-size: 4em;
        padding: 1em 0 .5em 0;
        font-weight: bold;
    }

    h2 {
        font-size: 2em;
        color: #d9dada;
    }
}

form {
    padding: 2em 0 4em 0;

    input[type="text"] {
        padding: 1em;
        border: 0;
        width: 18em;
        border-radius: 2px 0 0 2px;
        background: $bg-color;
        opacity: .3;
    }

    input[type="button"] {
        color: $highlight-text-color;
        padding: 1em;
        border: 0;
        width: 6em;
        border-radius: 0 2px 2px 0;
        background-color: lightgreen;
        text-transform: uppercase;
    }
}



/*
li {
    float: left;
    margin: 1em .5em;
    padding: .5em 1em;
    border: 1px solid transparent;
    border-radius: 2px;

    &:last-child {
        border: 1px solid $highlight-text-color;
    }
}
*/

section.numbers {
    /*background-color: white;*/
    /*float:left;
    position:relative;
    left:50%;*/
    /*the other way is to set width:80%;*/
    position: relative;
    width: 80%;
    max-width: 100em;
    margin: 0 auto;
    ul {
        /* one way to central align is to set left:-50%; left:50%;*/
        /*position:relative; */
        /* have to set to relative, will not inherit it's father. */
        /*left: -50%;*/
        position: relative;
        top: -2em;

        li {
            float: left;
            /*margin: 1em 0.5em;
            padding: 0.5em 1em;*/
            width: 24%;
            /* due to the round-up of browser, 25% not work with chrome. */
            background-color: white;
            border: 1px solid $border-color;
            border-right: 0px;
            border-radius: 0;

            &:last-child {
                border-right: 1px solid $border-color;
            }
        }
        @include clearfix;
    }
    /*margin: -2em 0em 0em 0em;*/
    h2 {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1em 1em 0.5em 1em;
    }

    h3 {
        font-size: 1em;
        padding: 1em 0.5em;
    }
}

.how-it-works {
    position: relative;
    width: 80%;
    max-width: 100em;
    margin: 0 auto;
    ul {
        /* one way to central align is to set left:-50%; left:50%;*/
        /*position:relative; */
        /* have to set to relative, will not inherit it's father. */
        /*left: -50%;*/
        li {
            position: relative;
            float: left;
            /*margin: 1em 0.5em;
            padding: 0.5em 1em;*/
            width: 33%;


            &:before {
                display: block;
                position: absolute;
                content: "";
                background-color: $border-color;
                height: 1px;
                width: 100%;
                left: 50%;
                top: 4em;
                margin: 0 2em;
            }


            &:last-child:before {
                display: none;
            }
        }
        @include clearfix;
    }

    h3 {
        padding: 1em;
        font-size: 1.5em;
        font-weight: bold;
    }

    p {
        margin: 1em;
    }

}

.number {
    display: block;
    margin: 1em auto 2em auto;
    padding: .4em;
    width: 1em;
    height: 1em;
    font-size: 2em;
    /* should =height to center-align*/
    line-height: 1em;
    color: $border-color;
    border: 1px solid $border-color;
    background-color: $bg-color;
    @include border-radius(100%);
}


.why-choose-us {
    position: relative;
    width: 80%;
    margin: 1em auto;

    ul {
        li {
            position: relative;
            float: left;
            /*margin: 1em 0.5em;
            padding: 0.5em 1em;*/
            width: 50%;
        }
        @include clearfix;
    }

    i {
        position: absolute;
        left: 0;
        margin-left: 1em;

    }

    .right {
        margin-left: 5em;
    }

    h3 {
        margin: 1em 10px;
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
    }

    p {
        margin: 1em 10px;
        text-align: left;
    }
}

.icon-large {
    font-size: 3.5em;
}

.icon-small {
    font-size: 2.5em;
}

.icon-list {
    color: #E1AB66;
}

.icon-pencil {
    color: #AB9BCF;
}

.icon-users {
    color: #5D99C8;
}

.icon-checkmark {
    color: #7CBC96;
}

.icon-price-tag {
    color: #50BCE5;
}

.icon-cool {
    color: #E1AB66;
}

.icon-user {
    color: #A77CBF;
}

.icon-clipboard {
    color: #E17580;
}

.icon-earth {
    color: #DD8463;
}

.temp {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    top: 20px;
    background-color: red;
}